<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= classname %>">
<% include partials/template/header.ejs %>

<div class="container">
    <% include partials/template/navigationadmin.ejs %>
    <div class="row">
        <h1>Create Quiz!</h1>
        <p>Let's create some ultra cool quizes!</p>
        <p>You are on page <%= title %></p>

        <form method="post"  action="/createQuiz">
            <div class="form-group">
                <h2>Quiz namn:</h2>
            </div>
            <div class="form-group">
                <input type="text" namn="quizName" class="form-control" placeholder="Quiz Name" required>
            </div>
            <div class="form-group">
                <h2>Question</h2>
                <% include partials/template/createquestion.ejs %>
            </div>
            <div class="form-group">
                <h2>Answers</h2>
                <% include partials/template/createAnswer.ejs %>
            </div>
            <div class="form-group">
                <button type="button"class="btn btn-primary">Add question</button>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-lg">Create Quiz</button>
            </div>
            </form>
    </div><!-- span12 -->
    <% include partials/template/footer.ejs %>
</div><!-- container -->


<% include partials/template/jsdefaults.ejs %>
</body>
</html>