<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= classname %>">
<% include partials/template/header.ejs %>

<div class="container">
    <% include partials/template/navigationadmin.ejs %>
    <div class="row">
        <h1>Create Quiz!</h1>
        <p>Let's create some ultra cool quizes!</p>
        <p>You are on page <%= title %></p>
            <% include partials/template/createquestion.ejs %>
            <% include partials/template/createAnswer.ejs %>
    </div><!-- span12 -->
    <% include partials/template/footer.ejs %>
</div><!-- container -->

<!--<script>-->
    <!--function submitForms() {-->
        <!--document.forms["questionForm"].submit();-->
        <!--document.forms["answerForm"].submit();-->
    <!--}-->
<!--</script>-->


<% include partials/template/jsdefaults.ejs %>
</body>
</html>