<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= classname %>">
<% include partials/template/header.ejs %>

<div class="container">
    <% include partials/template/navigationadmin.ejs %>
    <div class="row">
        <h1>Create Quiz!</h1>
        <p>Let's create some ultra cool quizes!</p>
        <p>You are on page <%= title %></p>
        <form method="post"  action="/createquizquestions">
            <div class="form-group">
                <% include partials/template/createquestion.ejs %>
                <% include partials/template/createAnswer.ejs %>
                <% include partials/template/createAnswer.ejs %>
                <% include partials/template/createAnswer.ejs %>
                <% include partials/template/createAnswer.ejs %>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Create Question</button>
                <!--<button id="quizDone" class="btn btn-primary btn-lg">Quiz Done</button>-->
            </div>
        </form>
    </div><!-- span12 -->
    <% include partials/template/footer.ejs %>
</div><!-- container -->
<script src="../app.js"></script>
<script type="text/javascript">
    document.getElementById("quizDone").onclick = function () {
        location.href = "/views/createquiz.ejs";
    }
</script>
<% include partials/template/jsdefaults.ejs %>
</body>
</html>