<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %></head>
<body>
<% include partials/page/header.ejs %>

<div class="container">
  <h1>Quiz App</h1>
    <p>You are on page <%= title %></p>
</div><!-- container -->

  <% include partials/page/footer.ejs %>
  <% include partials/page/jsdefaults.ejs %>
</body>
</html>
