<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= classname %>">

<div class="container">
    <div class="row">
        <h1>Settings</h1>
        <% include partials/template/createuser.ejs %>
    </div><!-- span12 -->
    <% include partials/template/footer.ejs %>
</div><!-- container -->

<% include partials/template/jsdefaults.ejs %>
</body>
</html>