<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template/head.ejs %>
</head>

<body class="<%= classname %>">
<% include partials/template/header.ejs %>

<div class="container">
    <% include partials/template/navigationadmin.ejs %>
    <div class="row">
            <h1>Testsida  - Welcome <%= person %></h1>
        <p>You are on page <%= title %></p>
    </div><!-- span12 -->
</div><!-- container -->


<% include partials/template/footer.ejs %>
<% include partials/template/jsdefaults.ejs %>
</body>
</html>