<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <% include partials/template/head.ejs %>
    <% include partials/template/navigationuser.ejs %>
</head>

<body class="<%= classname %>">
<% include partials/template/header.ejs %>

<div class="container">
    <div class="row">
        <h1>You have a new quiz!</h1>
        <p>You are on page <%= title %></p>
    </div><!-- span12 -->
</div><!-- container -->


<% include partials/content/creators.ejs %>
<% include partials/template/jsdefaults.ejs %>
</body>
</html>