<h2 class="page-header">Create Answer</h2>
<form method="post"  action="/answer" name="answerForm">
    <div class="form-group">
        <label>Answer</label>
        <input type="text" name="answer" class="form-control" placeholder="Answer" required>
    </div>
    <div class="form-group">
        <label>Answer ID</label>
        <input type="text" name="answerId" class="form-control" placeholder="Username" required>
    </div>
    <div class="form-group">
        <label>Answer Correct?</label>
        <select name="correct">
            <option value="1">Ja</option>
            <option value="2">Nej</option>
        </select>
    </div>
</form>