<div class="form-group">
        <label>Question</label>
        <input type="text" name="question" class="form-control" placeholder="Question" required>
    </div>

    <div class="form-group">
        <label>Answer ID</label>
        <input type="number" name="answerId" class="form-control" placeholder="Question ID" required>
    </div>



