<h2 class="page-header">Create Question</h2>
<form method="post"  action="/question" name="questionForm">
    <div class="form-group">
        <label>Question</label>
        <input type="text" name="question" value="question" class="form-control" placeholder="Question">
    </div>
    <div class="form-group">
        <label>Answer ID</label>
        <input type="text" name="answerId" value="answerId" class="form-control" placeholder="Username">
    </div>
</form>