<div class="form-group col-md-10">
    <label>Answer</label>
    <input type="text" name="answer" class="form-control" placeholder="Answer" required>
</div>
<div class="form-group col-lg-2">
    <label>Correct?</label>
    <select name="correct">
        <option value="1">Ja</option>
        <option value="0">Nej</option>
    </select>
</div>