<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <% loadquizes.forEach(function (quizes) { %>
        <script language="JavaScript">
                var today = new Date();
                var quizDate = '<%= quizes.dateFinished %>';
                console.log(today);
                console.log(quizDate);
                if (today.toDateString() < quizDate) {
                        $('.quizDiv').removeClass('well well-sm');
                        $('.quizDiv').addClass('alert alert-danger');
                        $('.quizLink').removeAttr('href');
                }
        </script>
        <a href="/takequiz/<%= quizes.quizId %>" class="quizLink"><div class="well well-sm quizDiv ">
                <h2><%= quizes.quizName %></h2>
                <p>Avaible until: <%= quizes.dateFinished %></p>
        </div></a>
    <% }) %>
</div>
