<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <footer class="footer text-center">
                <p>&copy; 2017 by: Andreas, Daniel, Eric & Sebastian, Newton</p>
        </footer><!-- footer -->
</div>