<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet" media="screen">
<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen">
<script src="/javascripts/jquery-3.1.1.min.js"></script>