<div class="header clearfix">
    <a class="navbar-brand" href="#"><img src="images/quizMakerLogoBrand.png" class="img-responsive" alt="Quiz Logo"></a>
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/createquiz">Create Quiz</a></li>
            <li role="presentation"><a href="/takequiz">Take Quiz</a></li>
            <li role="presentation"><a href="/results">Results</a></li>
            <li role="presentation"><a href="/profile">Profile</a></li>
            <li role="presentation"><a href="/settings">Settings</a></li>
        </ul>
    </nav>
</div>