<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h3 class="page-header"><a href="#col2viewusers" data-toggle="collapse">View Users</a></h3>
    <div id="col2viewusers" class="collapse">
        <p>Create view users</p>
    </div>
</div>