<div>
    <h2>We who created this fine page are:</h2>
    <ul>
        <li>Andreas Ekman</li>
        <li>Daniel Axhammar</li>
        <li>Eric Andresen</li>
        <li>Sebastian Johanssson</li>
    </ul>
</div>